html
	head
		title="Guillaume DUMOULIN - Développeur WEB"
		meta(charset='utf-8')
		link(rel="stylesheet", href='/style.css', media="all")
	body
		div#app!= content
		script(type='application/javascript', src='/bundle.js')
		script(type='application/javascript') window.__INITIAL_STATE__ = !{JSON.stringify(data)};
