/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


@font-face {
  font-family: 'AvenirLTStd-Roman';
  src: url('../assets/fonts/AvenirLTStd-Roman.woff') format('woff'), /* Modern Browsers */
    url('../assets/fonts/AvenirLTStd-Roman.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NocturnoDisplay-Med';
  src: url('../assets/fonts/NocturnoDisplay-Med.woff') format('woff'), /* Modern Browsers */
    url('../assets/fonts/NocturnoDisplay-Med.ttf') format('truetype'); /* Legacy iOS */  font-weight: normal;
  font-style: normal;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin inlineBlock{
    display: inline-block;
    *display: inline;
    *zoom: 1;
}


html{
  background-color: #E4EAEC;
  background-image: url('../assets/img/pattern.png');
}



i.logo-icons{
  background: url('../assets/img/logo-mini.png');
  width: 23px;
  height: 37px;
  @include inlineBlock;
  position: relative;
  top: 10px;
}

.top-header{
  width: 100%;
  height: 93px;
  line-height: 93px;
  background-color: #f32a2a;
  margin-bottom: 53px;
  overflow: hidden;
  position: relative;

  .background-menu{
    width: 100%;
    height: 93px;
    position: absolute;
    bottom: 0;
    left: 0;
    

    img{
      position: absolute;
      bottom: 0;
      z-index: 0;
      width: 100%;
      height: auto;
    }
  }

  .background-color{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 93px;
    background-color: rgba(243, 42, 42, .29);
  }

  .menu-items{
    position: relative;
    z-index: 1;
    font-family: 'CircularStd-Medium';
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    li{
      @include inlineBlock;
      margin-left: 90px;

      &:first-child{
        margin-left: 0;
      }
    }
  }
}




.posts-list{
  width: 827px;
  margin: 0 auto;
}

.post-item{
  margin-bottom: 20px;
  float: left;
  .date{
    width: 13px;
    font-family: 'AvenirLTStd-Roman';
    float: left;
    margin-top: 0;
    margin-right: 15px;
    li{
      list-style: none;
      border-top: 1px solid #000;
      font-size: 12px;
      padding-top: 10px;
      margin-top: 11px;
      &:first-child{
        border-top: 0;
        padding-top: 0;
        margin-top: 0;
      }
    }
  }

  &.alt{
    margin-right: 33px;
  }

  header,
  footer{
    position: relative;
    @include clearfix;
  }


  .cover{
    width: 280px;
    float: left;
    img{
      width: 100%;
      min-height: auto;
    }
  }

  .category-name{
    height: 24px;
    font-family: 'AvenirLTStd-Roman';
    font-size: 12px;
    text-transform: uppercase;
    display: inline;
    padding: 8px 10px 5px 10px; 
    letter-spacing: 0.04em;
    background-color: #222;
    color: #fff;
    &.tech{
      background-color: #ac3eeb;
    }

    &.voyage{
      background-color: #ffcc02;
    }

    &.web{
      background-color: #00cd00;
    }

    &.projet{
      background-color: #eb2e32;
    }
  }

  .post-title{
    margin-top: 16px;
    font-family: 'NocturnoDisplay-Med';
    font-size: 25px;
    width: 320px;
    margin-left: 29px;
    padding-left: 48px;
    position: relative;

    a{
      color: #333;
      text-decoration: none;
    }

  }

  .animated-line{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;

    .line{
      position: absolute;
      left: 0;
      width: 1px;
      height: 50%;
      background-color: #222;
      display: block;
      &.tech{
        background-color: #ac3eeb;
      }

      &.voyage{
        background-color: #ffcc02;
      }

      &.web{
        background-color: #00cd00;
      }

      &.projet{
        background-color: #eb2e32;
      }

      &.line-top{
        transform-origin: top left;
        transform: rotate(0deg);
        top: 0;
      }
      &.line-bottom{
        transform-origin: bottom left;
        transform: rotate(0deg);
        bottom: 0;
      }
    }



  }

  .post-title:hover{
      .line-top{
        animation-name: top;
        animation-duration: .5s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
      }
      .line-bottom{
        animation-name: bottom;
        animation-duration: .5s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
      }
    }
}


@keyframes top {
    0%   {height: 50%; transform: rotate(0deg);}


    90%  {height: 72%;}
    100% {height: 72%; transform: rotate(-45deg);}
}

@keyframes bottom {
    0%   {height: 50%; transform: rotate(0deg);}


    90%  {height: 72%;}
    100% {height: 72%; transform: rotate(45deg);}
}

.Image {
  position: absolute;
  height: 400px;
  width: 400px;
}

.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
} 

.example-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0;
}

.link-active {
  color: #bbbbbb;
  text-decoration: none;
}


.menu-items{
  li {
    a{
      color: #fff;
      text-decoration: none;
      &.active{
        border-bottom: 1px solid 
      }

      &.logo{
        border: 0;
      }
    }
  }
}


.post-single-content{
  font-family: 'AvenirLTStd-Roman';
  font-size: 16px;
  line-height: 22px;
  p{
    margin-top: 30px;
  }
  
  .attachment{
    margin-top: 30px;

    .caption-text{
      margin-left: 64px;
      height: 40px;
      line-height: 54px;
      font-size: 16px;
      font-style: italic;
      border-left: 1px solid #ac3eeb;
      padding-left: 30px;
    }
  }

  img{
    max-width: 100%;
    min-height: auto;
  }
}